.title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  background-color: white;
  border: 3px solid white;
  border-radius: 20px;
  padding: 10px;
  width: 453px;
}

.filter{
  background-color: #222222;
  border: 3px solid white;
  border-radius: 20px;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.sort{
  margin-left: 15px;
  background-color: #222222;
  border: 3px solid white;
  border-radius: 20px;
  padding: 16px;
  color: white;
  font-weight: bold;
}

.search{
  margin: 10px;
  display: flex;
  justify-content: center;
}

.randomGif{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.gifs{
  margin-top: 15px;
}

.gif{
  margin: 10px;
}
