.App {
  background-color:  #808080;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  background-color: white;
  border: 3px solid white;
  border-radius: 20px;
  padding: 10px;
  width: 453px;
}

.filter{
  background-color: #222222;
  border: 3px solid white;
  border-radius: 20px;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.sort{
  margin-left: 15px;
  background-color: #222222;
  border: 3px solid white;
  border-radius: 20px;
  padding: 16px;
  color: white;
  font-weight: bold;
}

.sidebar{
  background-color: #222222;
  display: flex;
  flex-direction: column;
}

.search{
  margin: 10px;
  display: flex;
  justify-content: center;
}

.randomGif{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.gifs{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  border: 3px solid white;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
}

.gif{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}